#hero {
  min-height: 100vh;
  height: max-content;
  display: flex;
  border-bottom: 0px;
  background-color: $primary-color;
  font-weight: 400;
  font-family: 'Times New Roman', Times, serif;
  color: $main-text-color;
  padding: 0rem 5.6rem;
  margin-top: 60px;
  margin-bottom: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;

  @include respond(phone) {
    padding: 0rem $default-font-size;
  }

  .hero-title {
    // font-size: 5.6rem;
    // font-weight: 700;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    // font-weight: bold;
    margin-bottom: 3.2rem;
    text-align: left;

    @include respond(tab-land) {
      font-size: 4rem;
    }
    @include respond(tab-port) {
      font-size: 3.6rem;
      text-align: center;
    }
    @include respond(phone) {
      font-size: 3.5rem;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 2.8rem;
    }

    .text-emphasis {
      // color: rgb(128, 218, 248);
      color: #69c4eb;
      font-weight: bold;
    }
  }

  .container {
    margin: 0;
    padding: 0;
  }
  
  .skills-section {
    display: grid;
    grid-template-columns: 50px 500px;
    grid-gap: 35%;
    margin-top: 100px;
    margin-bottom: 80px;
    font-size: x-large;
    
    .skills-heading {
      font-weight: bold;
      font-size: x-large;
      color: $main-text-color;

      hr {
        border-top: 3px solid;
        width: 100%;
        background-color: $main-text-color;
      }
    }  

    .skills-list-container {
      display: flex;
      justify-content: right;
      
      .skills-list {
        list-style: none;
        text-align: left;
      }
    }
  }

  @media (width < 875px) {
    .skills-section {
      display: flex;
      flex-direction: column;

      .skills-list-container {
        justify-content: center;
      }
    }
  }
}


