.footer {
  background-color: $dark-grey;
  color: $white-color;
  padding: 4.8rem 0;

  @include respond(phone) {
    border: 0px;
  }

  &__text {
    color: darken($white-color, 50%);
    font-size: 1.3rem;

    a {
      color: darken($white-color, 50%);
      font-size: 1.3rem;
      transition: all 0.4s;
      display: inline-block;
      background-color: $dark-grey;

      &:hover,
      &:active {
        color: $primary-color;
        -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      }
    }
  }

  & hr {
    margin: 1rem auto;
    border: 0;
    width: 50%;
    border-top: 2px solid grey;
  }
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $white-color;
    font-size: 3rem;
    width: 5rem;
    height: 5rem;
    margin: $default-font-size $default-font-size;
    transition: all 0.2s ease-in;

    &:hover {
      transform: translateY(-2px);
    }
  }
}

.social-links a i {
  color: $main-text-color;
}

.back-to-top i {
  color: $white-color;
  margin: 1rem 0 $default-font-size;
  transition: all 0.2s ease-in;

  &:hover {
    transform: translateY(-2px);
  }
}

.contact-title {
  text-align: start;
  text-transform: none;
}

.contact-header {
  text-align: center;
}

.contact-wrapper {
  display: flex;
  justify-content: center;
}

#contact-form {
  padding: 10px;
  width: 50%;
  background-color: $primary-color;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
  display: block;
  p {
    color: $main-text-color;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;

    button {
      width: 20rem;
      padding: 7px;
      border-radius: 30px;

      &:hover {
        background-color: $main-text-color;
      }
    }
  }

  input, textarea {
    border-radius: 20px;
    padding: 5px;
    width: 80%;
  }

  label {
    text-align: center;
    display: block;
  }

  @media (max-width: 950px) {
    & {
      width: 70%
    }
  }

  @media (max-width: 766px) {
    & {
      width: 95%;
    }
    input, textarea {
      width: 90%;
    }

    p button {
      width: 60%;
    }
  }
}